<%- include layout/header %>
<br>
<h2>Histori Transaksi No.<%= transaction.noTransaction %></h2>
<h4 style="color:red"><%= error %></h4>
<h4 style="color:green"><%= success %></h4>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Nama Barang</th>
      <th>Harga Satuan</th>
      <th>Jumlah Barang</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% if(items.length!==0){items.forEach(row=>{%>
    <tr>
      <td><%= row.id %></td>
      <td><%= row.name %></td>
      <td>Rp. <%= row.price %></td>
      <td><%= row.ItemTransaction.total %></td>
      <td>Rp. <%= row.ItemTransaction.subtotal %></td>
    </tr>
    <%})} else {%>
      <tr>
      <td colspan="5" >Error atau barang transaksi hilang</td>
      </tr>
    <% }%>
    <tr>
    <td colspan="4" >Total Belanja </td>
    <td>Rp. <%= transaction.total %></td>
    </tr>
  </tbody>
</table>

<form action="/history/detail/?id=<%=id%>" method="post">
  <div class="form-group">
    <label>Masukkan Nomor Hp (62 pada awal) : </label>
    <select name="phone_number">
      <option value="628561771911">628561771911</option>
      <option value="6281213568715">6281213568715</option>
    </select>
    <%# <input type="number" name="phone_number" value="628561771911">%>
    <button type="submit" name="button" class="btn btn-primary">Kirim Reciept</button>
  </div>
</form>
<a href="/history"><button type="button" class="btn btn-danger">Back</button></a>
<br>
<%- include layout/footer %>
