<%- include layout/header %>
<br>
<h3>Edit Barang</h3>
<br>
<h4 style="color:red"><%= error %></h4>
<h4 style="color:green"><%= success %></h4>
<form action="/item/edit?id=<%=item.id%>" method="post">
  <div class="form-group">
    <label> Nama Barang</label><br>
    <input type="text" name="name" value="<%=item.name%>">
  </div>
  <div class="form-group">
    <label> Jumlah Stock</label><br>
    <input type="text" name="stock" value="<%=item.stock%>">
  </div>
  <div class="form-group">
    <label> Harga Satuan</label><br>
    <input type="text" name="price" value="<%=item.price%>">
  </div>
  <div class="form-group">
    <label> Keterangan</label><br>
    <input type="text" name="keterangan" value="<%=item.keterangan%>">
  </div>
  <button type="submit" class="btn btn-primary" >Edit Barang</button>
  <a href="/item"><button type="button" class="btn btn-danger">Cancel</button></a>
</form>
<br>

<br>
<%- include layout/footer %>
